body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    height: 125px;
    position: relative;
    top: 18px;
    border-radius: 10px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #ddebf8;
    color: plum;
    font-weight: 950; 
    border-bottom: 1px solid plum;
    text-align: center;
    text-shadow: 4.5px 0 0 black,
                 0 0 40px plum,
                 15px 0 85px plum,
                 25px 0 120px plum;
    font-style: italic;
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 24px;
}

.card {
    width: 450px;
    height: 158px;
    margin: 165px auto;
    position: relative;
    left: -25px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-radius: 15px;
    border-bottom: 6px solid plum;
}



.card-details{
    position: relative;
    left: 30px;
}

.creator{
    font-size: 28px;
    position: relative;
    top: -30px;
    padding-bottom: 15px;
    border-bottom: 3px solid plum;
}

.creator-info{
    position: relative;
    top: -42px;
}

.country{
    position: relative;
    top: -53px;
    font-weight: 650;
    font-size: 24px;
    font-family: serif;
}

.italicized{
    font-style: italic;
}

.border-blue {
    border: 1px dotted blue;
}

hr{ 
    margin: 0 auto;
    position: relative;
    top: 460px;
    left: -25px;
    width: 750px;
    height: 5px;
    border: none;
    border-radius: 5px;
    background-color: purple;
}

.social-contacts{
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    left: 25px;
    margin-top: 350px;
    margin-left: -410px;
    width: 600px;
    height: 105px;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 5px 7px 0 plum,
                0   0   15px white,
                0   0   28px grey;
}

.social-contacts > .author-references{
    position: relative;
    top: 2px;
    left: 5px;
    padding-right: 10px;
    letter-spacing: 3.5px;
    font-style: oblique;
    color: plum;
    font-weight: bold;
    text-shadow: 2px 3px 5px;
    box-shadow: 5px 0 0 plum;
}

.social-contacts > i{
    position: relative;
    top: 3px;
    left: -8px;
    margin-top: 28px;
    font-size:  38px;
    text-shadow: 3px 1px 0px plum;
}

.social-contacts i:hover{
    cursor: pointer;
    color: purple;
    text-shadow: 0 0 15px white;
}